xml/products.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="products" type="productsType"/>
    <xs:complexType name="subjectType">
        <xs:sequence>
            <xs:element name="producer" type="xs:string"/>
            <xs:element name="model">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:pattern value="[a-zA-Z]{2}[0-9]{3}"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="start" type="xs:string"/>
            <xs:element name="color" type="xs:string"/>
            <xs:element name="price" type="xs:double"/>
            <xs:element name="quantity" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="subCategoryType">
        <xs:sequence>
            <xs:element type="subjectType" name="subject" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="categoryType">
        <xs:sequence>
            <xs:element type="subCategoryType" name="subCategory"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="sign" use="optional"/>
    </xs:complexType>
    <xs:complexType name="productsType">
        <xs:sequence>
            <xs:element type="categoryType" name="category" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>